-if @meeting != nil

  %span.fa.fa-edit.right{:data => {:toggle => 'modal', :target => '#updateModal'}}
  %ul.nav.nav-tabs
    %li.active
      %a{:href=> '#info', :data=> {:toggle=> 'tab'}} Info
    %li
      %a{:href=> '#agenda', :data=> {:toggle=> 'tab'}} Agenda
    %li
      %a{:href=> "#minutes", :data=> {:toggle=> 'tab'}} Meeting Minutes

  .tab-content
    #agenda.tab-pane
      -if @meeting.agenda == nil
        = form_for @meeting, :html => {:role => 'form'} do |f|

          .form-group
            = f.text_area :agenda

          .form-group
            = f.submit :class => 'button'
      -else
        =@meeting.agenda

    #minutes.tab-pane
      -if @meeting.meeting_minuts == nil
        = form_for @meeting, :html => {:role => 'form'} do |f|

          .form-group
            = f.text_area :meeting_minuts

          .form-group
            = f.submit :class => 'button'
      -else
        =@meeting.meeting_minuts      

    #info.tab-pane.active
      %h2= @meeting.title
      .row
        .col.col-xs-5
          .location= @meeting.location != '' ? @meeting.location : "TBA"
          .time= @meeting.date.to_date if @meeting.date
          .date= @meeting.time if @meeting.time
        .col.col-xs-6.col-xs-offset-1
          %p= @meeting.description

      .invites
        %h3 Invitees
        -@meeting.attendees.each do |a|
          .pp
            /{:data=>{:container=>"body", :toggle=>"popover", :placement=>"top",:animation=>"trigger", :content=>"#{render :partial => 'attendanceForm', :locals => {:@user => current_user}}"}} 
            - unless a.image.url == nil
              = image_tag a.image.url
            - else
              = image_tag "logo.png", alt: 'logo'
            =a.name
            .aten   
              -if(a.is_meeting_attendance(@meeting,"attended"))
                .attFilledButton.green= link_to 'AT', @meeting, :method => 'set_attendance', :user_id => a.id, :attendance_status => "attended", :meeting_id=>@meeting.id
              -else
                .attButton.green= link_to 'AT', @meeting, :method => 'set_attendance', :user_id => a.id, :attendance_status => "attended", :meeting_id=>@meeting.id

              -if(a.is_meeting_attendance(@meeting,"absent"))
                .attFilledButton.red= link_to 'AB', @meeting, :method => 'set_attendance', :user_id => a.id, :attendance_status => "absent", :meeting_id=>@meeting.id
              -else
                .attButton.red= link_to 'AB', @meeting, :method => 'set_attendance', :user_id => a.id, :attendance_status => "absent", :meeting_id=>@meeting.id
                
              -if(a.is_meeting_attendance(@meeting,"excused"))
                .attFilledButton.blue= link_to 'EX', @meeting, :method => 'set_attendance', :user_id => a.id, :attendance_status => "excused", :meeting_id=>@meeting.id
              -else
                .attButton.blue= link_to 'EX', @meeting, :method => 'set_attendance', :user_id => a.id, :attendance_status => "excused", :meeting_id=>@meeting.id
                



  #updateModal.modal.fade{:tabindex=>"-1", :role=>"dialog"}
    .modal-dialog
      .modal-content
        .modal-header
          %span.right.fa.fa-times.fa-2x{:data => {:dismiss => "modal"}}
          %h1 Update Meeting
        .modal-body
          = render :partial => 'form', :locals => {:@meeting => @meeting}