-if @meeting != nil

  %ul.nav.nav-tabs
    %li.active
      %a{:href=> '#info', :data=> {:toggle=> 'tab'}} Info
    %li
      %a{:href=> '#agenda', :data=> {:toggle=> 'tab'}} Agenda
    %li
      %a{:href=> "#minutes", :data=> {:toggle=> 'tab'}} Meeting Minutes

  .tab-content
    #agenda.tab-pane
      -if @meeting.creator.id == current_user.id  
        %span.fa.fa-edit.right{:data => {:toggle => 'modal', :target => '#agendaModal'}}
      %h2="Agenda"
      -if @meeting.agenda == nil
        ="You haven't entered an Agenda yet!!"
      -else
        =simple_format(@meeting.agenda)

    #minutes.tab-pane
      -if @meeting.creator.id == current_user.id 
        %span.fa.fa-edit.right{:data => {:toggle => 'modal', :target => '#minsModal'}}
      %h2="Meeting Minutes"
      -if @meeting.meeting_minuts == nil
        ="You haven't entered meeting minutes yet!!"
      -else
        =simple_format(@meeting.meeting_minuts)

    #info.tab-pane.active
      -if @meeting.creator.id == current_user.id 
        %span.fa.fa-edit.right{:data => {:toggle => 'modal', :target => '#updateModal'}}
      %h2= @meeting.title
      .row
        .col.col-xs-5
          .location= @meeting.request.roomnumber != '' ? @meeting.request.roomnumber : "TBA"
          .time= @meeting.date.to_date if @meeting.date
          .date= @meeting.time if @meeting.time
        .col.col-xs-6.col-xs-offset-1
          %p=simple_format(@meeting.description)

      .invites
        %h3
          Meeting Creator
        .pp
          - unless @meeting.creator.image.url == nil
            = image_tag @meeting.creator.image.url
          - else
            = image_tag "logo.png", alt: 'logo'
          %br  
          =@meeting.creator.name

      .invites
        %h3 Invitees
        -@meeting.attendees.each do |a|
          .pp
            /{:data=>{:container=>"body", :toggle=>"popover", :placement=>"top",:animation=>"trigger", :content=>"#{render :partial => 'attendanceForm', :locals => {:@user => current_user}}"}} 
            - unless a.image.url == nil
              = image_tag a.image.url
            - else
              = image_tag "logo.png", alt: 'logo'
            %br  
            =a.name
            .aten
              -if @meeting.creator.id == current_user.id
                -if(a.is_meeting_attendance(@meeting,"attended"))
                  .attButton.greenFilled= link_to("AT", set_attendance_meeting_path(@meeting, :user_id => a.id, :attendance_status => "attended"), method: :post)
                -else
                  .attButton.green= link_to("AT", set_attendance_meeting_path(@meeting, :user_id => a.id, :attendance_status => "attended"), method: :post)

                -if(a.is_meeting_attendance(@meeting,"absent"))
                  .attButton.redFilled= link_to("AB", set_attendance_meeting_path(@meeting, :user_id => a.id, :attendance_status => "absent"), method: :post)

                -else
                  .attButton.red= link_to("AB", set_attendance_meeting_path(@meeting, :user_id => a.id, :attendance_status => "absent"), method: :post)
                  
                -if(a.is_meeting_attendance(@meeting,"excused"))
                  .attButton.orangeFilled= link_to("Ex", set_attendance_meeting_path(@meeting, :user_id => a.id, :attendance_status => "excused"), method: :post)
                -else
                  .attButton.orange= link_to("Ex", set_attendance_meeting_path(@meeting, :user_id => a.id, :attendance_status => "excused"), method: :post)


    .gap-discussion
      Discussion
    .discussion
      .hidden-scroll
        -@meeting.discussions.each do |msg|
          .msg
            .name=msg.user_name
            .msg-body=msg.message

        .form
          = form_tag(send_message_meeting_path(@meeting), method: :post) do
            = text_area_tag :message, nil
            = submit_tag "Send", :class => 'button'

  -if @meeting.creator.id == current_user.id
    #updateModal.modal.fade{:tabindex=>"-1", :role=>"dialog"}
      .modal-dialog
        .modal-content
          .modal-header
            %span.right.fa.fa-times.fa-2x{:data => {:dismiss => "modal"}}
            %h1 Update Meeting
          .modal-body
            = render :partial => 'form', :locals => {:@meeting => @meeting}

  #agendaModal.modal.fade{:tabindex=>"-1", :role=>"dialog"}
    .modal-dialog
      .modal-content
        .modal-header
          %span.right.fa.fa-times.fa-2x{:data => {:dismiss => "modal"}}
          %h1 Update Meeting
        .modal-body
          = render :partial => 'agendaForm', :locals => {:@meeting => @meeting}

  #minsModal.modal.fade{:tabindex=>"-1", :role=>"dialog"}
    .modal-dialog
      .modal-content
        .modal-header
          %span.right.fa.fa-times.fa-2x{:data => {:dismiss => "modal"}}
          %h1 Update Meeting
        .modal-body
          = render :partial => 'minsForm', :locals => {:@meeting => @meeting}
                  