= form_for @meeting, :html => {:role => 'form'} do |f|

	.form-group.row
		.col.col-xs-3= f.label "Meeting Title"
		.col.col-xs-9= f.text_field :title

	.form-group.row
		.col.col-xs-3= f.label "Meeting Description"
		.col.col-xs-9= f.text_area :description

	.form-group.row
		.col.col-xs-3= f.label :time
		.col.col-xs-9= f.text_field :time, :'data-behaviour' => 'timepicker'

	.form-group.row
		.col.col-xs-3= f.label :date
		.col.col-xs-9= f.text_field :date, :'data-behaviour' => 'datepicker'

	.form-group.row
		.col.col-xs-3= f.label "Notes For Logistics"
		.col.col-xs-9= f.text_field :logistics_notes

	.form-group.row
		.col.col-xs-3= f.label "Attendees"
		.col.col-xs-9= f.collection_select :attendee_ids, User.order_by(:name.asc), :id, :name,{},{multiple: true, class: 'user-search'}

	.form-group.row
		.col.col-xs-9= f.submit :class => 'button'
		-if !@meeting.new_record
			.button.red= link_to 'Delete', @meeting, :method => 'delete'
