#meetings
  .split-main
    -if Meeting.creatable_by? current_user
      %span.button.right{:data => {:toggle => 'modal', :target => '#createModal'}} Create
    %h1 Meetings

    %br
    - if @ERROR.length != 0
      #error_explanation
      .alert.alert-info You must  fill  the form to create a new  meeting
      %ul
      - @ERROR.each do |msg|
        .alert.alert-danger= msg
      - Rails.cache.write("ERROR","")

    .vertical-line

    .group
      -if @today_meetings.length > 0
        .title Today
        -@today_meetings.each do |meeting|
          .meeting.show-side{:data => {:link => (url_for meeting)}}
            .datetime
              .time= meeting.time if meeting.time
              .date= meeting.date.to_date if meeting.date
            .circle
            %h2.name= meeting.title
            .location= meeting.request.roomnumber == '' || meeting.request.roomnumber == nil ? "TBA" : meeting.request.roomnumber

    .group
      -if @tomorrow_meetings.length > 0
        .title Tomorrow
        -@tomorrow_meetings.each do |meeting|
          .meeting.show-side{:data => {:link => (url_for meeting)}}
            .datetime
              .time= meeting.time if meeting.time
              .date= meeting.date.to_date if meeting.date
            .circle
            %h2.name= meeting.title
            .location= meeting.request.roomnumber == '' || meeting.request.roomnumber == nil ? "TBA" : meeting.request.roomnumber
    .group
      -if @week_meetings.length > 0
        .title This Week
        -@week_meetings.each do |meeting|
          .meeting.show-side{:data => {:link => (url_for meeting)}}
            .datetime
              .time= meeting.time if meeting.time
              .date= meeting.date.to_date if meeting.date
            .circle
            %h2.name= meeting.title
            .location= meeting.request.roomnumber == '' || meeting.request.roomnumber == nil ? "TBA" : meeting.request.roomnumber        

    .group
      -if @later_meetings.length > 0
        .title Later
        -@later_meetings.each do |meeting|
          .meeting.show-side{:data => {:link => (url_for meeting)}}
            .datetime
              .time= meeting.time if meeting.time
              .date= meeting.date.to_date if meeting.date
            .circle
            %h2.name= meeting.title
            .location= meeting.request.roomnumber == '' || meeting.request.roomnumber == nil ? "TBA" : meeting.request.roomnumber

    .group
      -if @past_meetings.length > 0
        .title Past
        -@past_meetings.each do |meeting|
          .meeting.show-side{:data => {:link => (url_for meeting)}}
            .datetime
              .time= meeting.time if meeting.time
              .date= meeting.date.to_date if meeting.date
            .circle
            %h2.name= meeting.title
            .location= meeting.request.roomnumber == '' || meeting.request.roomnumber == nil ? "TBA" : meeting.request.roomnumber        


  .split-side
    .topbar
      %span.back.fa.fa-angle-left.fa-2x.topbarButton
    
    #details.content.hidden-scroll
      / Load the details of the first meeting.
      -if @today_meetings.first != nil
        = render :partial => 'details', :locals => {:@meeting => @today_meetings.first}
      -elsif @tomorrow_meetings.first != nil
        = render :partial => 'details', :locals => {:@meeting => @tomorrow_meetings.first}
      -elsif @week_meetings.first != nil
        = render :partial => 'details', :locals => {:@meeting => @week_meetings.first}    
      -elsif @later_meetings.first != nil
        = render :partial => 'details', :locals => {:@meeting => @later_meetings.first}
      -elsif @past_meetings.first != nil
        = render :partial => 'details', :locals => {:@meeting => @past_meetings.first}  

    

-if Meeting.creatable_by? current_user
  #createModal.modal.fade{:tabindex=>"-1", :role=>"dialog"}
    .modal-dialog
      .modal-content
        .modal-header
          %span.right.fa.fa-times.fa-2x{:data => {:dismiss => "modal"}}
          %h1 Create Meeting
        .modal-body
          = render :partial => 'form', :locals => {:@meeting => Meeting.new}

