#meetings
  .split-main
    .content.hidden-scroll
      %span.button.right{:data => {:toggle => 'modal', :target => '#createModal'}} Create
      %h1 Meetings

      %br

      .vertical-line

      .group
        .title Today
        -@meetings.each do |meeting|
          .meeting{:data => {:link => (url_for meeting)}}
            .datetime
              .time= meeting.time if meeting.time
              .date= meeting.date.to_date if meeting.date
            .circle
            %h2.name= meeting.title
            .location= meeting.location != '' ? meeting.location : "TBA"




  .split-side
    .topbar
      %span.back.fa.fa-angle-left.fa-2x.topbarButton

    #details.content.hidden-scroll
      / Load the details of the first meeting.
      = render :partial => 'details', :locals => {:@meeting => @meetings.first}
    

    .discussion.content.hidden-scroll
      .gap


#createModal.modal.fade{:tabindex=>"-1", :role=>"dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %span.right.fa.fa-times.fa-2x{:data => {:dismiss => "modal"}}
        %h1 Create Meeting
      .modal-body
        = render :partial => 'form', :locals => {:@meeting => Meeting.new}