<p id="notice"><%= notice %></p>

<p>
  <b>Time:</b>
  <%= @meeting.time%>
</p>

<p>
  <b>Location:</b>
  <%= @meeting.location %>
</p>

<p>
  <b>Meeting minuts:</b>
  <%= @meeting.meeting_minuts %>
</p>

<p>
	<b>Meeting Materials: </b>
	<% if @request.materials %>
		<ul><% (@request.materials).each do |material|%>
	        	<li> <%= material %> </li>
	        <% end %>
	   	</ul>
		<%- else %>
		No materials
	<% end%>
</p>

<p>
	<b>Meeting Room: </b>
	<%- if @request.roomnumber %>
    	<%= @request.roomnumber %> 
	<%- else %>
		Not checked yet
	<% end%>
</p>

<p>
  <b>Request Status:</b>
  <%= @request.status || "Pending" %>
</p>
<% if ! @request.status %>
	<%= link_to 'Update', edit_meeting_path(@meeting) %>	 
<% end%>