#tasks
  .split-main
    %span.right
      .attButton.orange= link_to("Top", gowanyat_top_path(), method: :get)
      .attButton.orange= link_to("Recent", gowanyat_path(), method: :get)
      .button{:data => {:toggle => 'modal', :target => '#createModal'}} Write your thoughts

    %h1 Bdaya جوانيات
    %br
    
    .list-feed
      -if @ideas.length > 0
        -@ideas.each do |idea| 
          .item.row.show-side{:data => {:link => (url_for idea)}}
            .item-user.col-xs-2
              .pp
                - unless idea.creator.image.url == nil
                  = image_tag idea.creator.image.url
                - else
                  = image_tag "logo.png", alt: 'logo'
              .name= idea.creator.name

            .item-body.col-xs-9
              .item-title.arabic=idea.title
              .item-date=idea.created_at.to_date

            -if(idea.upvoters.include?(current_user))
              = link_to(upvote_idea_path(idea), method: :post) do
                .upvote.voted.col-xs-1
                  .fa.fa-arrow-up
                  .count= idea.upvotes
            -else
              = link_to(upvote_idea_path(idea), method: :post) do
                .upvote.col-xs-1
                  .fa.fa-arrow-up
                  .count= idea.upvotes

  .split-side
    .topbar
      %span.back.fa.fa-angle-left.fa-2x.topbarButton

    #details.content.hidden-scroll
      -if @ideas.first != nil
        = render :partial => 'ideas/details', :locals => {:@idea => @ideas.first}     



#createModal.modal.fade{:tabindex=>"-1", :role=>"dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %span.right.fa.fa-times.fa-2x{:data => {:dismiss => "modal"}}
        %h1 Write your thought
      .modal-body
        = render :partial => 'form', :locals => {:@idea => Idea.new ,:@t => "gowanyah"}
