#tasks
  .split-main
    %span.right
      .attButton.orange= link_to("Top", ideas_top_path(), method: :get)
      .attButton.orange= link_to("Recent", ideas_path(), method: :get)
      .button{:data => {:toggle => 'modal', :target => '#createModal'}} Post Your Idea

    %h1 Ideas Bank
    %br
    
    .group
      -if @ideas.length > 0
        .title
        -@ideas.each do |idea|  
          .task.show-side{:data => {:link => (url_for idea)}}
            -if(idea.upvoters.include?(current_user))
              .attButton.greenFilled.right= link_to("Unvote", upvote_idea_path(idea), method: :post)
            -else
              .attButton.green.right= link_to("Upvote", upvote_idea_path(idea), method: :post)
            %strong.green= idea.upvotes
            .status
            %h2.name=idea.title
            .date=idea.created_at.to_date 

  .split-side
    .topbar
      %span.back.fa.fa-angle-left.fa-2x.topbarButton

    #details.content.hidden-scroll
      -if @ideas.first != nil
        = render :partial => 'ideas/details', :locals => {:@idea => @ideas.first}     



#createModal.modal.fade{:tabindex=>"-1", :role=>"dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %span.right.fa.fa-times.fa-2x{:data => {:dismiss => "modal"}}
        %h1 Post your idea
      .modal-body
        = render :partial => 'form', :locals => {:@idea => Idea.new , :@t => "idea"} 
