-if @task != nil
	.info
		-if @task.creator.id == current_user.id
			%span.fa.fa-edit.right{:data => {:toggle => 'modal', :target => '#updateModal'}}

		/ .countdown 12:22

		%h1 
			=@task.title

		.item
			%span.fa.fa-exclamation-circle
			%p
				=simple_format(@task.details)

		.item
			%span.fa.fa-user
			-if @task.responsible_user.id == current_user.id
				%p 
					Task Creator: 
					%strong=@task.creator.name
			-elsif @task.creator.id == current_user.id
				%p 
					Assigned Member: 
					%strong=@task.responsible_user.name
					 
						
				
		.item
			%span.fa.fa-calendar-o
			%p 
				Due: 
				%strong=@task.deadline
				 
				

		.item
			%span.fa.fa-tag
			%p
				Type: 
				%strong=@task.type

		.item
			%span.fa.fa-gear
			%p 
				Status:  
				%strong=@task.status

		-if @task.responsible_user.id == current_user.id && @task.status == "pending"
			.button.green= link_to 'Mark as Done', task_done_path(@task.id), :method => 'post'
		-if @task.creator.id == current_user.id && @task.status == "done"	
			.button.green= link_to 'Accept', task_accept_path(@task.id), :method => 'post'
			.button.red= link_to 'Reopen', task_reopen_path(@task.id), :method => 'post'
		.gap-discussion
			Discussion
		.discussion
			.hidden-scroll
				-@task.discussions.each do |msg|
					.msg
						.name=msg.user_name
						.msg-body=msg.message
				.form
					= form_tag(send_message_task_path(@task), method: :post) do
						= text_area_tag :message, nil
						= submit_tag "Send", :class => 'button'
      			
	-if @task.creator.id == current_user.id
		#updateModal.modal.fade{:tabindex=>"-1", :role=>"dialog"}
			.modal-dialog
				.modal-content
					.modal-header
						%span.right.fa.fa-times.fa-2x{:data => {:dismiss => "modal"}}
						%h1 Update Task
					.modal-body
						= render :partial => 'form', :locals => {:@task => @task}