<table>
	  		<thead>
      			<tr>
					<td>Task Creator</td>
					<td>Title</td>
					<td>Details</td>
					<td>Deadline</td>
				</tr>
	  		</thead>
	  		<tbody>
	  			<% @pending_tasks.each do |t| %>
 					<td><%=t.creator.name%></td>
 					<td><%=t.title%></td>
 					<td><%=t.details%></td>
 					<td><%=t.deadline%></td>
 					<!-- <td><%= link_to("Mark as done", {:controller => 'tasks', :action => 'done', :task_id => t.id}) %></td> -->
				<% end %>
	  		</tbody>
</table>