<h2>Pending Tasks</h2>
<table>
	  		<thead>
      			<tr>
					<td>Task Creator</td>
					<td>Title</td>
					<td>Details</td>
					<td>Deadline</td>
					<td>Status</td>
				</tr>
	  		</thead>
	  		<tbody>
	  			<% @pending_tasks.each do |t| %>
	  			<tr>
 					<td><%=t.creator.name%></td>
 					<td><%=t.title%></td>
 					<td><%=t.details%></td>
 					<td><%=t.deadline%></td>
 					<td><%=t.status%></td>
					<td><%= link_to("Mark as done", task_done_path(t.id), method: 'post') %></td>
				</tr>			
 				<% end %>
	  		</tbody>
</table>

<h2>Done Tasks</h2>
<table>
	  		<thead>
      			<tr>
					<td>Task Creator</td>
					<td>Title</td>
					<td>Details</td>
					<td>Deadline</td>
					<td>Status</td>
				</tr>
	  		</thead>
	  		<tbody>
	  			<% @done_tasks.each do |t| %>
 				<tr>	
 					<td><%=t.creator.name%></td>
 					<td><%=t.title%></td>
 					<td><%=t.details%></td>
 					<td><%=t.deadline%></td>
 					<td><%=t.status%></td>
 				</tr>	
				<% end %>
	  		</tbody>
</table>