<h1>Sent Tasks</h1>

<table>
	  		<thead>
      			<tr>
					<td>Responsible Member</td>
					<td>Title</td>
					<td>Details</td>
					<td>Deadline</td>
					<td>Status</td>
				</tr>
	  		</thead>
	  		<tbody>
	  			<% @sent_tasks.each do |t| %>
	  			<tr>
 					<td><%=t.responsible_user.name%></td>
 					<td><%=t.title%></td>
 					<td><%=t.details%></td>
 					<td><%=t.deadline%></td>
 					<td><%=t.status%></td>
					<%if t.status == "done"%>

					<td><%= link_to("Accept", task_accept_path(t.id), method: 'post') %></td>
					<td><%= link_to("Reopen", task_reopen_path(t.id), method: 'post') %></td>

					<%end%>
				</tr>			
 				<% end %>
	  		</tbody>
</table>
