<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>
  <br>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :Password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :Address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :TShirt_size %><br>
    <%= f.text_field :tshirt_size %>
  </div>
  <div class="field">
    <%= f.label :Major %><br>
    <%= f.text_field :major %>

  <div class="field">
    <%= f.label :Faculty %><br>
    <%= f.text_field :faculty %>
  </div>
  <div class="field">
    <%= f.label :Semester %><br>
    <%= f.select :semester, options_for_select(["Select Semeter",[1,1],[2,2],
                                                [3,3],[4,4],
                                                [5,5],[6,6],
                                                [7,7],[8,8],
                                                [9,9],[10,10],
                                                [11,11],[12,12]], @user) %>
  </div>
  
  <br>
  <br>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
