<h1>Assign Task</h1>

<script type="text/javascript">
  $(document).ready(function(){
    $('[data-behaviour~=datepicker]').datepicker({
      format: 'dd-mm-yyyy'
      startDate: '+0d'
    });
  })
</script>

<%= form_for @task, url: save_assign_task_user_path do |f| %>

  <div class="field">
    <%= f.label "Title" %>
    <%= f.text_field :title %>
  </div>


  <div class="field">
    <%= f.label "Details" %>
    <%= f.text_area :details %>
  </div>

  <div class="field">
    <%= f.label "Deadline" %>
    <%= f.text_field :deadline, :'data-behaviour' => 'datepicker'%>
  </div>
  
  <%= f.hidden_field :user_id, value: params[:id]%>
   
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>