<h2>Memebers</h2>

<script>

  jQuery(function($) {
    $("a.ajax")
      .bind("ajax:loading", console.log('loading'))
      .bind("ajax:complete", console.log('complete'))
      .bind("ajax:success", function(event, data, status, xhr) {
        console.log(data);
      })
      .bind("ajax:failure", function(xhr, status, error) {
        console.log(error);
      });
  });
</script>

<script>
	function refreshData(x){
		if (x=="0"){
		  document.getElementById("divData").innerHTML="";
		  return;
		} 
		if (window.XMLHttpRequest)  {// code for IE7+, Firefox, Chrome, Opera, Safari
		  xmlhttp=new XMLHttpRequest();
		}else {// code for IE6, IE5
		  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		}

		xmlhttp.onreadystatechange=function(){
			if (xmlhttp.readyState==4 && xmlhttp.status==200){
				document.getElementById("divData").innerHTML=xmlhttp.responseText;
			}
		}
		xmlhttp.open("GET",'/users#filter_users',true);
		xmlhttp.send();
	}
</script>

<p>Filter: </p>

<%= select_tag :filter, options_for_select([["All",0],["Projects",1],["Commitees",2]]), onchange: "refreshData(this.value);" %>	
<%= select_tag :filter2, :onchange => "refreshData(this.value);" %>	

<div id="divData" name="divData"></div>

<table>
	<thead>
		<tr>
			<td><h4>Name</h4></td>
			<td></td>
			<td></td>
			<td><h4>E_mail</h4></td>
			<td></td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
		  <tr>
		    <td><%= user.name %></td>
		    <td></td>
		    <td></td>
		    <td><%= user.email %></td>
		    <td><%= link_to 'Show user',user %></td>
		  </tr>
		<% end %>
	</tbody>	
</table>


<br />

<%= link_to 'Create User', new_user_path %>