<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name%>
</p>

<p>
  <b>Phone Number:</b>
  <%= @user.phone %>
</p>

<p>
  <b>Major:</b>
  <%= @user.major %>
</p>
<p>
  <b>Faculty:</b>
  <%= @user.faculty %>
</p>
<p>
  <b>Semester:</b>
  <%= @user.semester %>
</p>
<p>
  <b>Tshirt size:</b>
  <%= @user.tshirt_size %>
</p>
<p>
  <b>Address:</b>
  <%= @user.address %>
</p>

<p>
<%= link_to "Evaluate",  set_evaluation_user_path(@user.id) %>
</p>

<p>
<%= link_to "Show Evaluation", show_evaluation_user_path(@user.id) %>
</p>

<p>
<%= link_to "Assign Task", assign_task_user_path(@user.id) %>
</p>