%span#add-design.button.right Add Image
%h1 Desgin
-if @event.updatable_by?(current_user)
	= form_for(@event, :url => add_image_event_path(@event), :html => { :method => :post, :multipart => true, :id=>"add-design-form" }) do |f|
		= f.file_field :image, {class: 'button'}
		= f.submit "Add Image",class: 'btn btn-sm'
%br

#designs-list
	-@event.event_images.each do |img|
		.item
			= image_tag img.image.url, :style =>"length:100px;width:100px;"
			%br
			= "Current Rating: #{img.rating}"
			%br
			= link_to('<i class="fa fa-star-o"></i>'.html_safe, rate_image_event_path(@event,image_id:img.id,rating: 1), method: :post)
			= link_to('<i class="fa fa-star-o"></i>'.html_safe,rate_image_event_path(@event,image_id:img.id,rating: 2), method: :post)
			= link_to('<i class="fa fa-star-o"></i>'.html_safe,rate_image_event_path(@event,image_id:img.id,rating: 3), method: :post)
			= link_to('<i class="fa fa-star-o"></i>'.html_safe,rate_image_event_path(@event,image_id:img.id,rating: 4), method: :post)
			= link_to('<i class="fa fa-star-o"></i>'.html_safe,rate_image_event_path(@event,image_id:img.id,rating: 5), method: :post)
			%br
			%br
			.button= link_to "Profile", profile_picture_event_path(@event,:image_id => img.id)
			/ %br
			.button= link_to "Cover", cover_picture_event_path(@event,:image_id => img.id)