= form_for @event, :html => {:role => 'form'} do |f|
	

	.form-group
		.col.col-xs-3= f.label "Event Start"
		= f.text_field :start_date, :'data-behaviour' => 'datepicker'
		= f.text_field :start_time, :'data-behaviour' => 'timepicker'

	.form-group
		.col.col-xs-3= f.label "Event End"
		= f.text_field :end_date, :'data-behaviour' => 'datepicker'
		= f.text_field :end_time, :'data-behaviour' => 'timepicker'

	.form-group
		.col.col-xs-3= f.label "Project Manager"
		/ = f.text_field :attendee_ids, :id => 'user-search'
		/= f.collection_select :project_manager, User.excludes(:id => current_user.id).order_by(:name.asc), /:id, :name,{}, {multiple: false}
		= f.collection_select(:project_manager_id, @project_managers, :id, :name, {multiple: false})
		
	.form-group
		.col.col-xs-3
		= f.submit :class => 'button'
		-if !@event.new_record
			.button.red= link_to 'Delete', @event, :method => 'delete'