-if flash[:alert]
	.alert.alert-danger
		= simple_format flash[:alert]

= form_for @event, :html => {:role => 'form'} do |f|


	.form-group.row
		.col.col-xs-3= f.label "Event Start"
		.col.col-xs-9
			= f.text_field :start_date, :'data-behaviour' => 'datepicker'
			= f.text_field :start_time, :'data-behaviour' => 'timepicker'

	.form-group.row
		.col.col-xs-3= f.label "Event End"
		.col.col-xs-9
			= f.text_field :end_date, :'data-behaviour' => 'datepicker'
			= f.text_field :end_time, :'data-behaviour' => 'timepicker'

	.form-group.row
		.col.col-xs-3= f.label "Project Manager"
		.col.col-xs-9= f.collection_select(:project_manager_id, @project_managers, :id, :name, {}, {multiple: false, class: 'user-search'})

	.form-group.row
		.col.col-xs-3
		= f.submit :class => 'button'
		-if !@event.new_record
			.button.red= link_to 'Delete', @event, :method => 'delete'