#events
	%span.button.right{:data => {:toggle => 'modal', :target => '#createModal'}} Create

	%h1 Events List

	%br
	- if @ERROR.length != 0
		#error_explanation
		.alert.alert-info You must  fill  the form to create a new  meeting
		- @ERROR.each do |msg|
			.alert.alert-danger= msg
		- Rails.cache.write("ERROR","")
		
	%table
		%tr
			%th name 
			%th link
	- @events.each do |event|
		%tr
			%td= event.name
			%td= link_to 'Show', event

	%p= link_to 'Create Event', new_event_path


#createModal.modal.fade{:tabindex=>"-1", :role=>"dialog"}
	.modal-dialog
		.modal-content
			.modal-header
				%span.right.fa.fa-times.fa-2x{:data => {:dismiss => "modal"}}
				%h1 Create Meeting
			.modal-body
				= render :partial => 'form', :locals => {:@event => Event.new, :@project_managers => User.all}