.event
	.shadow
	-if @event.cover_pic
		.background{:data => {:image => (@event.cover_pic.image)}}
	.cover
		-if(@event.is_manager?(current_user) || @event.is_creator?(current_user))
			-if @event.name
				.name{"data-target" => "#addName", "data-toggle" => "modal"}=@event.name

			-else
				.name{"data-target" => "#addName", "data-toggle" => "modal"}
					Add Name
		-else
			-if @event.name
				.name=@event.name

			-else
				.name
					No Name

		-if(@event.is_manager?(current_user) || @event.is_creator?(current_user))
			-if @event.slogan
				.slogan{"data-target" => "#addSlogan", "data-toggle" => "modal"}=@event.slogan

			-else
				.slogan{"data-target" => "#addSlogan", "data-toggle" => "modal"}
					Add Slogan
		-else
			-if @event.slogan
				.slogan=@event.slogan

			-else
				.slogan
					No Slogan

		-if @event.profile_pic
			.pp= image_tag @event.profile_pic.image, alt: 'logo'
		-else
			.pp= image_tag 'event-cover.png', alt: 'logo'

	.side
		.datetime.start
			%h5 Starts
			.date
				%span.fa.fa-calendar
				%span.day=@event.start_date.strftime("%A %e")
				%span.month=@event.start_date.strftime("%B")
				%span.year=@event.start_date.strftime("%y")
			.time
				%span.fa.fa-clock-o
				-if @event.start_time.include?("am")
					%span.time=@event.start_time.split("am").first
					%span.ampm am
				-else
					%span.time=@event.start_time.split("pm").first
					%span.ampm pm


		.datetime.ends
			%h5 Ends
			.date
				%span.fa.fa-calendar
				%span.day=@event.end_date.strftime("%A %e")
				%span.month=@event.end_date.strftime("%B")
				%span.year=@event.end_date.strftime("%y")
			.time
				%span.fa.fa-clock-o
				-if @event.end_time.include?("am")
					%span.time=@event.end_time.split("am").first
					%span.ampm am
				-else
					%span.time=@event.end_time.split("pm").first
					%span.ampm pm
						
	.main
		%ul.nav.nav-tabs
			%li.active
				%a{:href=> '#info', :data=> {:toggle=> 'tab'}} Info
			%li
				%a{:href=> '#design', :data=> {:toggle=> 'tab'}} Design (#{@event.event_images.count})
			%li
				%a{:href=> "#logistics", :data=> {:toggle=> 'tab'}} Logistics
			%li
				%a{:href=> "#log", :data=> {:toggle=> 'tab'}} Log

		.tab-content
			#info.tab-pane.active
				= render :partial => 'info'
			#design.tab-pane
				= render :partial => 'design'
			#logistics.tab-pane
				= render :partial => 'logistics'
			#log.tab-pane
				= render :partial => 'log'

#addName.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
				%h4#myModalLabel.modal-title Event Name
			.modal-body
				= form_for(@event) do |f|
					-if @event.name
						= f.text_area :name, value: "#{@event.name}", :rows=>'2', :class=>'input-xxlarge'
					-else
						= f.text_area :name, :placeholder=>"Enter Name..", :rows=>'2', :class=>'input-xxlarge'
					.modal-footer
						%button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
						= f.submit "Save", :class=>"btn btn-primary"

#addSlogan.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
				%h4#myModalLabel.modal-title Event Slogan
			.modal-body
				= form_for(@event) do |f|
					-if @event.slogan
						= f.text_area :slogan, value: "#{@event.slogan}", :rows=>'2', :class=>'input-xxlarge'
					-else
						= f.text_area :slogan, :placeholder=>"Enter Slogan..", :rows=>'2', :class=>'input-xxlarge'
					.modal-footer
						%button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
						= f.submit "Save", :class=>"btn btn-primary"

#addLocation.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
				%h4#myModalLabel.modal-title Event Location
			.modal-body
				= form_for(@event) do |f|
					-if @event.location
						= f.text_area :location, value: "#{@event.location}", :rows=>'2', :class=>'input-xxlarge'
					-else
						= f.text_area :location, :placeholder=>"Enter Location..", :rows=>'2', :class=>'input-xxlarge'
					.modal-footer
						%button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
						= f.submit "Save", :class=>"btn btn-primary"

#addFBpage.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
				%h4#myModalLabel.modal-title Event FB Page
			.modal-body
				= form_for(@event) do |f|
					-if @event.fb_url
						= f.text_area :fb_url, value: "#{@event.fb_url}", :rows=>'2', :class=>'input-xxlarge'
					-else
						= f.text_area :fb_url, :placeholder=>"Enter Facebook event URL..", :rows=>'2', :class=>'input-xxlarge'
					.modal-footer
						%button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
						= f.submit "Save", :class=>"btn btn-primary"

#addHashTage.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
				%h4#myModalLabel.modal-title Event #HashTags
			.modal-body
				= form_for(@event) do |f|
					-if @event.tags
						= f.text_area :tags, value: "#{@event.tags}", :rows=>'2', :class=>'input-xxlarge'
					-else
						= f.text_area :tags, :placeholder=>"Enter #HashTags..", :rows=>'2', :class=>'input-xxlarge'
					.modal-footer
						%button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
						= f.submit "Save", :class=>"btn btn-primary"

#addDescription.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
				%h4#myModalLabel.modal-title Event Description
			.modal-body
				= form_for(@event) do |f|
					-if @event.description
						= f.text_area :description, value: "#{@event.description}", :rows=>'2', :class=>'input-xxlarge'
					-else
						= f.text_area :description, :placeholder=>"Enter Description..", :rows=>'2', :class=>'input-xxlarge'
					.modal-footer
						%button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
						= f.submit "Save", :class=>"btn btn-primary"

#addIdea.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
				%h4#myModalLabel.modal-title Event Idea
			.modal-body
				= form_for(@event) do |f|
					-if @event.idea
						= f.text_area :idea, value: "#{@event.idea}", :rows=>'2', :class=>'input-xxlarge'
					-else
						= f.text_area :idea, :placeholder=>"Enter Idea..", :rows=>'2', :class=>'input-xxlarge'
					.modal-footer
						%button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
						= f.submit "Save", :class=>"btn btn-primary"

#addTheme.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
				%h4#myModalLabel.modal-title Event Theme
			.modal-body
				= form_for(@event) do |f|
					-if @event.theme
						= f.text_area :theme, value: "#{@event.theme}", :rows=>'2', :class=>'input-xxlarge'
					-else
						= f.text_area :theme, :placeholder=>"Enter Theme..", :rows=>'2', :class=>'input-xxlarge'
					.modal-footer
						%button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
						= f.submit "Save", :class=>"btn btn-primary"

#addMembers.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
				%h4#myModalLabel.modal-title Add Members
			.modal-body
				= form_for(@event) do |f|
					= f.label "Members"
					= f.collection_select :member_ids, User.excludes(:id => @event.project_manager.id).order_by(:name.asc), :id, :name,{},{multiple: true, class: 'user-search'}
					.modal-footer
						%button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
						= f.submit "Save", :class=>"btn btn-primary"
