<%= form_for @req , :url => {:action => "update", :id => @req.id }  do |f| %>
	<tr>
		<td><%= if @req.creator
					@req.creator.name
				end %>
		</td>

		<%if @req.request_type == "materials"%>
		<td>
			<% if @req.materials %>
			<%= @req.materials %>
			<% end%>
		</td>
		<% end%>	

		<%if @req.request_type == "permissions"%>
		<td>
			<% if @req.permissions %>
			<%= @req.permissions %>
			<% end%>
		</td>
		<% end%>	

		<%if @req.request_type == "room"%>
		<td>
			<%- if@req.status || !(@req.request_type.eql?'room')%>
				<%=	@req.roomnumber %> 
				<%- else %>
				<%= f.text_field :roomnumber , placeholder: "Enter Room No." %> 
			<%- end%>
		</td>
		<% end%>

		<td><%= @req.notes %></td>
		
		<td><%= if @req.status 
					"Submitted"
				else
					f.submit "Submit Request"  
		end%></td>
	</tr>
<% end %>
