%p
  %b Name:
  = @user.name


%p
  %b Phone Number:
  = @user.phone 


%p
  %b Major:
  = @user.major 

%p
  %b Faculty:
  = @user.faculty 

%p
  %b Semester:
  = @user.semester 

%p
  %b Tshirt size:
  = @user.tshirt_size 

%p
  %b Address:
  = @user.address 
