#leftbar.hidden-scroll
	.scroll
		#logoo
			= image_tag 'logo.png', alt: 'logo'
			%span <strong>Bdaya</strong> System

		#user-info
			.pp-bg
			.pp
				#change-pp.image
				- if current_user 
					- unless current_user.try(:image).try(:url) == nil
						= image_tag current_user.image.url
					- else
						= image_tag "logo.png", alt: 'logo'
				- else
					= image_tag "logo.png", alt: 'logo'

				- if current_user
					%div{id:'update_image',style:'display:none;'}
						= form_for(current_user, :url => update_image_user_path(current_user), :html => { :method => :post, :multipart => true, id: "change-pp-form" }) do |f|
							= f.file_field :image
							= f.submit "Upload new Avatar"
					%h1
						=current_user.name
					%h2
						-if(current_user.president)
							="Bdaya President"
						-elsif(current_user.upper_board)
							="Bdaya Upper Board"	
						-elsif (current_user.head_of_committee?)
							="Bdaya " + current_user.head_of_committee.name + " Head"
						-elsif (current_user.vice_of_committee?)
							="Bdaya " + current_user.vice_of_committee.name + " Vice Head"
						-elsif (current_user.member_of_committee?)
							="Bdaya " + current_user.member_of_committee.name + " Member"

		#menus
			%ul.menu
				%a{href:'/'}
					%li
						%span.fa.fa-home Home
				
				%a{href:'/tasks'}
					%li
						%span.fa.fa-tasks Tasks
				
				%a{href:'/meetings'}
					%li
						%span.fa.fa-users Meetings

				%a{href:'/events'}
					%li
						%span.fa.fa-bullhorn Events
				
				%a{href:'/requests'}
					%li
						%span.fa.fa-check-square-o Requests	
				

			%ul.menu
				%a{href:'/ideas'}
					%li
						%span.fa.fa-key Ideas Bank
				
				%a{href:'/gowanyat'}
					%li
						%span.fa.fa-heart جوانيات			

			%ul.menu
				=link_to destroy_user_session_path, method: 'delete' do
					%li.danger
						%span.fa.fa-sign-out Logout
				%a{href:'/feedbacks'}
					%li
						%span.fa.fa-bell Feedback
