#leftbar
	#logo
		= image_tag 'logo.png', alt: 'logo'
		%span <strong>Bdaya</strong> system

	#user-info
		.pp
			- if current_user 
				%div{onclick: "showhide('update_image')"}
					- unless current_user.try(:image) == nil
						= image_tag current_user.image.url
					- else
						= image_tag "pp.png", alt: 'logo'
			- else
				= image_tag "pp.png", alt: 'logo'

			- if current_user
				%div{id:'update_image',style:'display:none;'}
					= form_for(current_user, :url => update_image_user_path(current_user), :html => { :method => :post, :multipart => true }) do |f|
						= f.file_field :image
						= f.submit "Upload new Avatar"
				%h1
					=current_user.name
				%h2
					Bdaya IT Head

	%ul.menu
		%a{href:'/'}
			%li
				%span.fa.fa-home Home
		
		%a{href:'/tasks'}
			%li
				%span.fa.fa-tasks Tasks
		
		%a{href:'/meetings'}
			%li
				%span.fa.fa-users Meetings