<!DOCTYPE html>
%html
  %head
    %title Bdaya Admin
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0, user-scalable=0"}

  %body
    -if flash[:notice]
      .flash
        = flash[:notice]
    #rightbar
    = render :partial => 'layouts/leftbar'

    #content
      #topbar
        %span#leftbar-button(class='fa fa-bars fa-2x topbar-button')
        %span#rightbar-button(class='fa fa-list fa-2x topbar-button right')
        %span#search
          %span(class='fa fa-search fa-2x')
          %input(placeholder='Search')

      = yield


  / Javascript files are loaded at the end of 'body', to not cause blocking
  = javascript_include_tag "application"