<!DOCTYPE html>
<html>
<head>
  <title>Bdaya Admin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="logo">
    <%= image_tag 'logo.jpg', alt: 'logo' %>
  </div>
  <div id="main-content">
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    
    <p class="navbar-text pull-right">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', '#', :class => 'navbar-link' %> |
      <%      
      if(current_user)
        if(current_user.head_of_committee != nil)
          %>
          <%= link_to 'Invite User', new_user_invitation_path, :class => 'navbar-link' %> |
          <%
        end
      end
      %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
